HELP.md
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Intellij ###
.idea
*.iws
*.iml
*.ipr
out/
.jpb

### Log file ###
*.log
*.gz
/logs

### Gradle ###
.gradle
build/

### RestDocs ###
src/main/resources/static/docs/**

### Jacoco Reports ###
src/main/resources/static/reports/**
